html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  font-size: 40px;
  margin-bottom: 40px;
}

button {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 30px;
  border: none;
  background: none;
  text-decoration: none;
  color: #4c89ce;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

button:hover {
  color: #3f9cc6;
  cursor: pointer;
}

*:focus {
  outline: none;
}

.game-board {
  position: relative;
  color: #66BB6A;
  flex-direction: row;
    align-content: flex-start;
}

.board-row {
  width: 300px;
}

.square {
  width: 100px;
  height: 100px;
}

.board-row .square {
  float: left;
  font-size: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 40em) {
  .game-board .square {
    font-size: 75px;
  }
}

.game-board .square.O {
  color: #FFF176;
}

.game-board .square {
  background: #fff;
  border: 2px solid #999;
  margin-right: -2px;
  margin-top: -2px;
}

