html,
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

*:focus {
  outline: none;
}

.status {
  font-size: 40px;
  margin-bottom: 40px;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.game-info {
  font-size: 30px;
  text-align: left;
  margin-left: 50px;
}

ol, ul {
  padding-left: 30px;
}

button {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 30px;
  border: none;
  background: none;
  text-decoration: none;
  color: #4c89ce;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

button:hover {
  color: #3f9cc6;
  cursor: pointer;
}

.game-board {
  position: relative;
  flex-direction: row;
  align-content: flex-start;
}

.board-row {
  width: 300px;
}

.square {
  float: left;
  width: 100px;
  height: 100px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board .square.zero {
  color: #FFF176;
}

.game-board .square {
  background: #fff;
  border: 2px solid #999;
  margin-right: -2px;
  margin-top: -2px;
}

